
<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
    <title>안내</title>
    </head>
    <body>
    <h1>마약별 형량 및 판례 조회 사이트에 오신걸 환영합니다.</h1>
    마약별 형량 및 판례 조회 사이트는 마약의 종류에 따른 형량의 분포와 판례를 제공합니다.<br>
    본 사이트는 10가지 종류의 마약 관련 판례 데이터를 다루고 있습니다.<br>
    <p>사이트 내 존재하는 마약의 종류별 판례 데이터 분포를 조회하려면 아래의 '이동' 버튼을 눌러주세요.</p>
    <p><a href='{% url "data" %}'><button type="button" class="button" >이동</button></a></p>
    <h1>서비스 이용방법</h1>
    1. 아래의 '이동' 버튼을 눌러 검색 페이지로 이동합니다.<br>
    2. 검색하고자 하는 마약 종류를 선택하고 '검색' 버튼을 클릭합니다. 마약의 종류는 복수 선택이 가능합니다.<br>
    3. 집행형, 집행유예형, 벌금형의 세 종류의 형종 분포가 나타나며, 형량 분포를 조회하려면 형종을 선택하고 '이동' 버튼을 클릭합니다.<br>
    4. 선택한 형종에 대한 형량 분포가 나타나며, 판례원문을 조회하려면 형량범위를 선택하고 '이동' 버튼을 클릭합니다.<br>
    5. 페이지당 하나의 판례가 조회되며, 다음 판례를 보려면 아래의 '다음' 버튼을 클릭합니다. 다른 형량범위의 판례를 보려면 아래의 '이동' 버튼을 클릭합니다.<br>
    <p>서비스 이용을 시작하려면 아래의 '이동' 버튼을 눌러주세요.</p>
    <p><a href='{% url "search" %}'><button type="button">이동</button></a></p>
    </body>
</html>